# PAndas preprocessing

In [1]:
import pandas as pd

In [5]:
df =  pd.read_html('https://en.wikipedia.org/wiki/List_of_chapters_in_the_Quran')
df = df[0]

In [6]:
df.columns

Index(['#', 'Anglicized title(s)', 'Arabic title(s)', 'English title(s)',
       'Number of verses (Number of Rukūʿs)', 'Place of Revelation',
       'Egyptian Standard Chronological Order[6][7][8]',
       'Nöldeke's Chronological Order[6]', 'Muqatta'at (isolated letters)[4]',
       'Title refers to', 'Main theme(s)', 'Juz''],
      dtype='object')

In [7]:
df2 = df[['Anglicized title(s)', 'Number of verses (Number of Rukūʿs)']]

In [8]:
df2

    Anglicized title(s) Number of verses (Number of Rukūʿs)
0            Al-Fatihah                               7 (1)
1            Al-Baqarah                            286 (40)
2           Aali 'Imran                            200 (20)
3               An-Nisa                            176 (24)
4            Al-Ma'idah                            120 (16)
..                  ...                                 ...
110            Al-Masad                             5 (1/3)
111           Al-Ikhlas                             4 (1/3)
112            Al-Falaq                             5 (1/3)
113             An-Naas                             6 (1/3)
114                 NaN                                 NaN

[115 rows x 2 columns]

In [9]:
df2['Number of verses (Number of Rukūʿs)'] = df2['Number of verses (Number of Rukūʿs)'].str.split(' ', expand=True)[0]

C:\Users\Muhammad_Luqman\AppData\Local\Temp\ipykernel_4496\2766427244.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Number of verses (Number of Rukūʿs)'] = df2['Number of verses (Number of Rukūʿs)'].str.split(' ', expand=True)[0]

In [10]:
df2

    Anglicized title(s) Number of verses (Number of Rukūʿs)
0            Al-Fatihah                                   7
1            Al-Baqarah                                 286
2           Aali 'Imran                                 200
3               An-Nisa                                 176
4            Al-Ma'idah                                 120
..                  ...                                 ...
110            Al-Masad                                   5
111           Al-Ikhlas                                   4
112            Al-Falaq                                   5
113             An-Naas                                   6
114                 NaN                                 NaN

[115 rows x 2 columns]

In [11]:
df2.to_csv('surah_aayah_count.csv', index=False)

# Scraping tests

In [7]:
import requests
import numpy as np
import pandas as pd
import os

In [3]:
surah_df = pd.read_csv('surah_aayah_count.csv').dropna()

def generate_dateset(imam):
    output_dir = 'data'
    if not os.path.exists(output_dir):
        os.mkdir(output_dir)
    output_dir = os.path.join(output_dir, imam)
    if not os.path.exists(output_dir):
        os.mkdir(output_dir)

    for surah_index in range(0, 113):
        for aayah_number in range(1, int(surah_df.iloc[surah_index]['Number of verses (Number of Rukūʿs)'] + 1)):
            file_name = f'{str(surah_index+1).zfill(3)}{str(aayah_number).zfill(3)}'
            url = f"https://everyayah.com/data/{imam}/{file_name}.mp3"

            out_file_path = os.path.join(output_dir, f'{surah_index+1}_{aayah_number}.mp3')
            if os.path.exists(out_file_path):
                continue
            doc = requests.get(url)

            if doc.status_code == 200:
                print(f'{surah_index+1}_{aayah_number}.mp3')
                with open(out_file_path, 'wb') as f:
                    f.write(doc.content)
            else:
                raise Exception(f'Error: {doc.status_code} for {url}')

In [4]:
imam_df = pd.read_csv('audiocats.csv')

In [10]:
df_chunks = np.array_split(imam_df, 10)

In [11]:
df_chunks

[                                    imam
 0           Abdul_Basit_Mujawwad_128kbps
 1    AbdulSamad_64kbps_QuranExplorer.Com
 2           Abdul_Basit_Murattal_192kbps
 3            Abdul_Basit_Murattal_64kbps
 4  Abdullaah_3awwaad_Al-Juhaynee_128kbps
 5                Abdullah_Basfar_192kbps
 6                 Abdullah_Basfar_32kbps
 7                 Abdullah_Basfar_64kbps,
                                                imam
 8                          Abdullah_Matroud_128kbps
 9                    Abdurrahmaan_As-Sudais_192kbps
 10                    Abdurrahmaan_As-Sudais_64kbps
 11                    Abu_Bakr_Ash-Shaatree_128kbps
 12                     Abu_Bakr_Ash-Shaatree_64kbps
 13                              Ahmed_Neana_128kbps
 14    Ahmed_ibn_Ali_al-Ajamy_128kbps_ketaballah.net
 15  Ahmed_ibn_Ali_al-Ajamy_64kbps_QuranExplorer.Com,
                                         imam
 16                   Akram_AlAlaqimy_128kbps
 17                           Alafasy_128kbps
 18                            Alafasy_64kbps
 19                Ali_Hajjaj_AlSuesy_128kbps
 20                          Ali_Jaber_64kbps
 21                       Ayman_Sowaid_64kbps
 22  English/Sahih_Intnl_Ibrahim_Walk_192kbps
 23                        Fares_Abbad_64kbps,
                        imam
 24           Ghamadi_40kbps
 25       Hani_Rifai_192kbps
 26        Hani_Rifai_64kbps
 27         Hudhaify_128kbps
 28          Hudhaify_32kbps
 29          Hudhaify_64kbps
 30           Husary_128kbps
 31  Husary_128kbps_Mujawwad,
                                       imam
 32                           Husary_64kbps
 33                  Husary_Muallim_128kbps
 34                  Husary_Mujawwad_64kbps
 35                   Ibrahim_Akhdar_32kbps
 36                   Ibrahim_Akhdar_64kbps
 37                   Karim_Mansoori_40kbps
 38  Khaalid_Abdullaah_al-Qahtaanee_192kbps
 39                   MaherAlMuaiqly128kbps,
                             imam
 40        Maher_AlMuaiqly_64kbps
 41               Menshawi_16kbps
 42               Menshawi_32kbps
 43     Minshawy_Mujawwad_192kbps
 44      Minshawy_Mujawwad_64kbps
 45     Minshawy_Murattal_128kbps
 46  Mohammad_al_Tablaway_128kbps
 47   Mohammad_al_Tablaway_64kbps,
                                  imam
 48       Muhammad_AbdulKareem_128kbps
 49            Muhammad_Ayyoub_128kbps
 50             Muhammad_Ayyoub_32kbps
 51             Muhammad_Ayyoub_64kbps
 52           Muhammad_Jibreel_128kbps
 53            Muhammad_Jibreel_64kbps
 54            Muhsin_Al_Qasim_192kbps
 55  MultiLanguage/Basfar_Walk_192kbps,
                                    imam
 56                Mustafa_Ismail_48kbps
 57                  Nabil_Rifa3i_48kbps
 58              Nasser_Alqatami_128kbps
 59                     Parhizgar_48kbps
 60                  Sahl_Yassin_128kbps
 61  Salaah_AbdulRahman_Bukhatir_128kbps
 62              Salah_Al_Budair_128kbps
 63                      Shuraym_128kbps,
                                          imam
 64                             Shuraym_64kbps
 65                      Yaser_Salamah_128kbps
 66                            Dussary_128kbps
 67             ahmed_ibn_ali_al_ajamy_128kbps
 68                         aziz_alili_128kbps
 69                  khalefa_al_tunaiji_64kbps
 70                mahmoud_ali_al_banna_32kbps
 71  translations/Fooladvand_Hedayatfar_40Kbps,
                                           imam
 72          translations/Makarem_Kabiri_16Kbps
 73            translations/azerbaijani/balayev
 74      translations/besim_korkut_ajet_po_ajet
 75             translations/urdu_farhat_hashmi
 76  translations/urdu_shamshad_ali_khan_46kbps
 77             warsh/warsh_Abdul_Basit_128kbps
 78        warsh/warsh_ibrahim_aldosary_128kbps
 79        warsh/warsh_yassin_al_jazaery_64kbps]

In [5]:
for imam in imam_df['Imam'].unique():
    generate_dateset(imam)

                                          imam
0                 Abdul_Basit_Mujawwad_128kbps
1          AbdulSamad_64kbps_QuranExplorer.Com
2                 Abdul_Basit_Murattal_192kbps
3                  Abdul_Basit_Murattal_64kbps
4        Abdullaah_3awwaad_Al-Juhaynee_128kbps
..                                         ...
75             translations/urdu_farhat_hashmi
76  translations/urdu_shamshad_ali_khan_46kbps
77             warsh/warsh_Abdul_Basit_128kbps
78        warsh/warsh_ibrahim_aldosary_128kbps
79        warsh/warsh_yassin_al_jazaery_64kbps

[80 rows x 1 columns]