# PAndas preprocessing

In [1]:
import pandas as pd

In [5]:
df =  pd.read_html('https://en.wikipedia.org/wiki/List_of_chapters_in_the_Quran')
df = df[0]

In [6]:
df.columns

Index(['#', 'Anglicized title(s)', 'Arabic title(s)', 'English title(s)',
       'Number of verses (Number of Rukūʿs)', 'Place of Revelation',
       'Egyptian Standard Chronological Order[6][7][8]',
       'Nöldeke's Chronological Order[6]', 'Muqatta'at (isolated letters)[4]',
       'Title refers to', 'Main theme(s)', 'Juz''],
      dtype='object')

In [7]:
df2 = df[['Anglicized title(s)', 'Number of verses (Number of Rukūʿs)']]

In [8]:
df2

    Anglicized title(s) Number of verses (Number of Rukūʿs)
0            Al-Fatihah                               7 (1)
1            Al-Baqarah                            286 (40)
2           Aali 'Imran                            200 (20)
3               An-Nisa                            176 (24)
4            Al-Ma'idah                            120 (16)
..                  ...                                 ...
110            Al-Masad                             5 (1/3)
111           Al-Ikhlas                             4 (1/3)
112            Al-Falaq                             5 (1/3)
113             An-Naas                             6 (1/3)
114                 NaN                                 NaN

[115 rows x 2 columns]

In [9]:
df2['Number of verses (Number of Rukūʿs)'] = df2['Number of verses (Number of Rukūʿs)'].str.split(' ', expand=True)[0]

C:\Users\Muhammad_Luqman\AppData\Local\Temp\ipykernel_4496\2766427244.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Number of verses (Number of Rukūʿs)'] = df2['Number of verses (Number of Rukūʿs)'].str.split(' ', expand=True)[0]

In [10]:
df2

    Anglicized title(s) Number of verses (Number of Rukūʿs)
0            Al-Fatihah                                   7
1            Al-Baqarah                                 286
2           Aali 'Imran                                 200
3               An-Nisa                                 176
4            Al-Ma'idah                                 120
..                  ...                                 ...
110            Al-Masad                                   5
111           Al-Ikhlas                                   4
112            Al-Falaq                                   5
113             An-Naas                                   6
114                 NaN                                 NaN

[115 rows x 2 columns]

In [11]:
df2.to_csv('surah_aayah_count.csv', index=False)

# Scraping tests

In [2]:
import requests

In [4]:
imam_id = 'Hudhaify_128kbps'

surah_number = 1
aayah_number = 1
file_name = f'0{str(surah_number).zfill(3)}{str(aayah_number).zfill(3)}'
url = f"https://everyayah.com/data/{imam_id}/{file_name}.mp3"
url

'https://everyayah.com/data/Hudhaify_128kbps/0001001.mp3'

In [ ]:
requests.get(url)

In [5]:
doc = requests.get(url)
with open('movie.mp3', 'wb') as f:
    f.write(doc.content)